    <div class="content">
        <h1>My Recipe Book</h1>
        <main>
            Willkommen auf der Seite My Recipe Book. Die Seite stellt eine Plattform dar, in der du eigene Rezepte
            erstellen und dich durch Rezepte anderer User inspirieren lassen kannst. Zusätzlich kannst du hier auch
            deine eigene Einkaufliste verwalten und die benötigten Zutaten für die Rezepte per Mausklick hinzufügen. Um
            dir die veröffentlichten Rezepte aller Benutzer anzusehen und auszudrucken, musst du dich nicht anmelden. Um
            eigene Rezepte zu erstellen, zu bearbeiten und zu veröffentlichen sowie die Einkaufliste zu nutzen musst du
            jedoch eingeloggt sein.
            <br>
            <br>
            Diese Seite dient rein persönlichen Zwecken und ist nicht für die dauerhaften Nutzung durch Dritte
            vorgesehen. Sie dient ausschließlich Demonstrationszwecken, um die Funktionsweise und -umfang meines
            Projektes zu veranschaulichen. Entsprechend werden angelegte User und Rezepte in regelmäßigen Abständen
            wieder gelöscht. Wenn du Interesse an einer Version von My Recipe Book für die eigene Nutzung hast, kannst
            du dich gerne bei mir melden. In jedem Fall freue ich mich über dein Feedback. Ein Upadate für eine mobile
            Version von My Recipe Book, mit welcher du auch von unterwegs deine Rezepte und deine Einkaufliste
            synchronisieren kannst, folgt in Kürze.
        </main>
    </div>