<main class="olivegreen">
    <div class="row">
        <header class="col-xs-12">
            <h1>{{editMode ? "Rezept bearbeiten" : "Neues Rezept erstellen"}}</h1>
        </header>
    </div>
    <!---------------------------------------------Edit section------------------------------------>
    <form [formGroup]="recipeForm" (ngSubmit)=onSubmit()>
        <div class="row">
            <div class="col-xs-12">
                <button mat-button type="submit" [disabled]="!recipeForm.valid" class="orange">Speichern</button>
                <button mat-button class="red" (click)="onCancel()">Abbrechen</button>
                <div style="padding-top:5px;">
                    <mat-checkbox formControlName="publishRecipe">Rezept öffentlich sichtbar</mat-checkbox>
                </div>
            </div>
        </div>
        <!---------------------------------------------Name section------------------------------------>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group edit-section">
                    <label for="recipe-name">Rezept-Bezeichnung</label>
                    <input type="text" id="recipe-name" class="form-control" formControlName="name">
                </div>
            </div>
        </div>
        <!---------------------------------------------Category section------------------------------------>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group edit-section">
                    <label for="category">Kategorie</label>
                    <input type="text" id="category" class="form-control" formControlName="category">
                </div>
            </div>
        </div>
        <hr>
        <!---------------------------------------------Image section------------------------------------>
        <div class="olivegreen-lighter edit-section">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Rezeptbild hochladen</h2>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="file" accept="image/*" (change)="imagePreview($event)" #fileUpload>
                    </div>
                </div>
                <div style="padding-top:5px;" class="row">
                    <div class="col-xs-12" style="max-width: 400px;">
                        <img [src]="image.filePath" [alt]="image.fileName" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!---------------------------------------------Description section------------------------------------>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group edit-section">
                    <label for="about">
                        <h2> Steckbrief</h2>
                    </label>
                    <textarea type="text" id="about" class="form-control" rows="4" formControlName="about">
                        </textarea>
                </div>
            </div>
        </div>
        <hr>
        <!---------------------------------------------Ingredients section------------------------------------>
        <div class="olivegreen-lighter edit-section">
            <div class="form-group ">
                <fieldset formArrayName="ingredients">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Zutaten</h2>
                        </div>
                    </div>
                    <div class="row" *ngFor="let ingredient of ingredientControls; let i = index" [formGroupName]="i">
                        <div class="col-xs-6">
                            <label for="{{i}}-ing-name">Zutat</label>
                            <input type="text" formControlName="name" id="{{i}}-ing-name" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <label for="{{i}}-amount">Menge</label>
                            <input type="number" formControlName="amount" id="{{i}}-amount" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <label for="{{i}}-unit">Einheit</label>
                            <input type="text" formControlName="unit" id="{{i}}-unit" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button style="margin-top: 25px;" class="btn btn-danger"
                                (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <div style="padding-top:5px;" class="row">
                        <div class="col-xs-12">
                            <button type="button" (click)="onAddIngredient()"
                                class="btn orange"><b>Hinzufügen</b></button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <hr>
        <!---------------------------------------------Preparation section------------------------------------>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group edit-section">
                    <label for="description">
                        <h2>Beschreibung der Zubereitung</h2>
                    </label>
                    <textarea type="text" id="description" class="form-control" rows="6" formControlName="description">
                        </textarea>
                </div>
            </div>
        </div>
        <hr>
        <!---------------------------------------------Variants section------------------------------------>
        <div class="olivegreen-lighter edit-section">
            <div class="form-group">
                <fieldset formArrayName="variants">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Rezeptvarianten</h2>
                        </div>
                    </div>
                    <div *ngFor="let variant of variantControls; let i = index" [formGroupName]="i">
                        <div class="row">
                            <mat-checkbox class="col-xs-12" formControlName="checked">{{variant.get("name").value}}
                            </mat-checkbox>
                        </div>
                        <div class="row" *ngIf="variant.get('checked').value">
                            <div class="col-xs-12">
                                <label for="{{i}}">Beschreibung</label>
                                <textarea type="text" id="{{i}}" class="form-control" rows="3"
                                    formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <hr>
        <!---------------------------------------------Comment section------------------------------------>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group edit-section">
                    <label for="comment">
                        <h2>Kommentare</h2>
                    </label>
                    <textarea type="text" id="comment" class="form-control" rows="3" formControlName="comment">
                        </textarea>
                </div>
            </div>
        </div>
    </form>
</main>