<div class="container">
  <div class="row">
    <div class=" col-md-10 col-md-offset-1 col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2 list-container">
      <hr>
      <header class="">
        <h1>Einkaufsliste</h1>
      </header>
    </div>
  </div>
  <main>
    <!---------------------------------Shopping List section--------------------------------------------------->
    <div class="row">
      <table [@listState] mat-table cdkDropList (cdkDropListDropped)="drop($event)" [dataSource]="dataSource"
        class="mat-elevation-z8 col-md-10 col-md-offset-1 col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell class="select" *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell class="select" *matCellDef="let row; let i = index">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row, i)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th class="position" mat-header-cell *matHeaderCellDef> No. </th>
          <td class="position" mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="name" mat-header-cell *matHeaderCellDef> Zutat </th>
          <td class="name" mat-cell *matCellDef="let element; let i = index"> {{element.name}}
            <a mat-button *ngIf="selection.isSelected(element)" class="green-text orange"
              style="float: right; line-height: 25px; margin: 0 5px 0 5px; min-width: 20px; padding: 0 5px 0 5px;"
              (click)="onEditItem(i)">
              <fa-icon style="padding-left: 4px;" appDontPrint [icon]="editIcon"></fa-icon>
            </a>
          </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th class="amount" mat-header-cell *matHeaderCellDef> Menge </th>
          <td class="amount" mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="unit">
          <th class="unit" mat-header-cell *matHeaderCellDef> Einheit </th>
          <td class="unit" mat-cell *matCellDef="let element"> {{element.unit}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row cdkDrag *matRowDef="let row; let i = index; columns: displayedColumns;"
          (click)="selection.toggle(row)" [ngClass]="{red: selection.isSelected(row)}">
        </tr>
      </table>
    </div>
    <div class="olivegreen-lightest row" *ngIf="ingredients.length <= 0">
      <div class="table-end col-md-10 col-md-offset-1 col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
        Deine Einkaufsliste ist leer!
      </div>
    </div>
    <!---------------------------------Edit Item section--------------------------------------------------->
    <div appDontPrint *ngIf="showAddIng" class="olivegreen-lightest  row">
      <form (ngSubmit)="onAddItem()" [formGroup]="addIngredientForm"
        class="table-end col-md-10 col-md-offset-1 col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
        
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" formControlName="name" name="name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Menge</label>
          <input type="number" id="amount" class="form-control" formControlName="amount" name="amount">
        </div>
        <div class="col-sm-2 form-group">
          <label for="unit">Einheit</label>
          <input type="text" id="unit" class="form-control" formControlName="unit" name="unit">
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
            <button mat-button class="orange" type="submit" [disabled]="!addIngredientForm.valid">
              {{editMode ? "Aktualisieren" : "Hinzufügen"}}
            </button>
            <button mat-button class="red" type="button" (click)="onClear()">
              Abbrechen
            </button>
          </div>
        </div>
      </form>
    </div>

    <!---------------------------------Button section--------------------------------------------------->
    <div class="row edit-buttons">
      <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
        <a mat-button appDontPrint class="green-text orange" (click)="onEditItem()">
          <fa-icon [icon]="addIcon"></fa-icon><p class="icon-names">Hinzufügen</p>
        </a>
        <a mat-button appDontPrint *ngIf="selection.selected.length > 0" class="green-text orange"
          (click)="onDeleteIngredients()">
          <fa-icon [icon]="deleteIcon"></fa-icon><p class="icon-names"> Löschen </p>
        </a>
        <a mat-button appDontPrint class="green-text orange" style="float: right;" (click)="printRecipe()">
          <fa-icon [icon]="printIcon"></fa-icon><p class="icon-names">Drucken</p>
        </a>
      </div>
    </div>
  </main>
</div>