<div appDontPrint class="row">
<div class="row olivegreen-darker">
    <div class="col-xs-12">
       <h1><u>Meine Rezepte</u></h1>
    </div>

<carousel [itemsPerSlide]="itemsPerSlide"
          [singleSlideOffset]="singleSlideOffset"
          [noWrap]="!noWrap"
          [interval]="false"
          [startFromIndex]="1"
          [isAnimated]="true">
        <slide *ngFor='let recipeEl of recipes | filter:searchString:category as filtered; let i = index' #content
        [routerLink]="recipeEl.id"> 
        <div class="recipe-variants">
          <fa-icon *ngIf="recipeEl.variants[0].checked" style="color: lightcoral;" [icon]="faMeatIcon"></fa-icon>   
          <fa-icon *ngIf="recipeEl.variants[1].checked" style="color: #ffff66;" [icon]="faCheeseIcon"></fa-icon>  
          <fa-icon *ngIf="recipeEl.variants[2].checked" style="color:orange;" [icon]="faCarrotIcon"></fa-icon>  
          <fa-icon *ngIf="recipeEl.variants[2].checked" style="color: greenyellow;" [icon]="faSeedlingIcon"></fa-icon>  
        </div>  
       
        
        <img [src]="recipeEl.image.filePath" alt="Bild zum Rezept {{recipeEl.name}}">
        <div class="carousel-caption">
        <h2>{{recipeEl.name}}</h2>
        </div>

        </slide>
        <div *ngIf="!content">
          <p style="margin-left: 20px;font-size: 25px;">Keine Rezepte gefunden</p>
        </div>
        
</carousel>
</div>
</div>
 