@use 'sass:map';
@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@media (max-width: 768px) {  
    .desktop-nav{
        display: none;
    }
    .medium-nav{
        display: none;
    }
    .mobile-nav{
        margin-left: 0;
        margin-right: 0;
        display: block; 
        .mobile-nav-menu{
            height: 75px;
        }
        .home-button{
            color: white;
            height: 100%;
            margin: 0;
            padding: 20px 0;
            min-width: fit-content;
        }
        .btn-group {
            display: block;
            height: 75px;
            padding: 0;
            
        }
        .mobile-nav-button{
            display: block;
            color: white;
            height: 75px;
            border-radius: 4px;
           padding: 0;
           margin: 0;
           padding-right: 40px;
           text-align: center;
           flex-wrap: nowrap;
            span{
                position: absolute;
                bottom: 30px;
                font-size: 50px;
                

            }

           
        }
        .dropdown-menu{
            width: 100%;
            padding: 0;
            margin: 0;
            border: 0;
            li{
                height: 50px;
                a{
                    height: 100%;
                    color: white;
                    padding-top: 15px;
                }
            }
        }
        .mobile-nav-searchbar{
            height: 50px;
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: center;
            *{      
                color: black;
                height: 100%;
            }
            select{  
                padding-left: 5px;
   
                
            }
            #search-input{
               
                padding-right: 5px; 
                
            }
            
            input{ 
                width: 90%;
                margin-right: 10px;
            }
            input:enabled{
                border:none;
                outline:none; 
            }
            select:enabled{
                box-shadow: none;
                border:none;
                outline:none; 
            }
        }
    }
}
@media (min-width: 769px){
    .desktop-nav{
        
        display: none;
        
    }
    .medium-nav{
        display: block;
    }
    .mobile-nav{
        display: none;
    }
    .medium-nav-searchbar{
      max-height: 50px;
        margin-top: 10px;
        margin-left: 50%;
        margin-right: auto;
        display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: center;
            *{      
                color: black;
                
            }
            select{  
                padding-left: 5px;
                border-radius: 20px 0 0 20px;
                max-width: 170px;
            }
            #search-input{
                border-radius: 0 20px 20px 0;
                padding-right: 5px; 
                width: 300px;
            }
            input{ 
                margin-right: 10px;
            }
            input:enabled{
                border:none;
                outline:none; 
            }
            select:enabled{
                box-shadow: none;
                border:none;
                outline:none; 
            }
 }
}
@media (min-width: 1265px) {
    .desktop-nav{
        min-height: 75px;
        display: block;
        mat-toolbar{
            flex-direction: row;
        } 
    }
    .medium-nav{
        display: none;
    }
    .mobile-nav{
        display: none;
    }
}

mat-toolbar {
    mat-toolbar-row{
        height: 75px;
    }
    min-height: 75px;
    width: 100%;
    margin: 0;
    padding: 0 0 0 0;
    flex-wrap: wrap;
        
    justify-content:center;
    align-items:stretch;
    * {
        height: 100%;
    }
    a{
        padding: 15px;  
        margin-left: 10px;      
        margin-right: 10px;
    }
    .recipe-nav{
        height: 100%;
        flex-shrink: 1;
        flex-basis: 40%;
        display: flex;
        .desktop-nav-searchbar{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: center;
            *{      
                color: black;
                max-height: 40px;
            }
            select{  
                padding-left: 5px;
                border-radius: 20px 0 0 20px;
                max-width: 170px;
            }
            #search-input{
                border-radius: 0 20px 20px 0;
                padding-right: 5px; 
                width: 300px;
            }
            input{ 
                margin-right: 10px;
            }
            input:enabled{
                border:none;
                outline:none; 
            }
            select:enabled{
                box-shadow: none;
                border:none;
                outline:none; 
            }
        }
    }
}
