<main class="container-fluid olivegreen-lighter" [@listState]>
    <header class="row">
        <div class="col-xs-12 col-lg-9">
            <div appDontPrint class="recipe-detail-button">
                <div class="col-xs-12">
                    <div class="btn-group" appDropdown *ngIf="canEdit">
                        <button mat-button class=" orange dropdown-toggle">
                            Aktionen <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu orange">
                            <li><a mat-button style="cursor: pointer; border-radius: 0;" class="orange"
                                    [routerLink]="['edit']">Rezept bearbeiten</a></li>
                            <li><a mat-button style="cursor: pointer; border-radius: 0;" class="orange"
                                    [routerLink]="['/recipes/my-recipes']" (click)='onDeleteRecipe()'>Rezept
                                    löschen</a>
                            </li>
                        </ul>
                    </div>
                    <a mat-button class=" orange" (click)="printRecipe()">
                        <fa-icon [icon]="printIcon"></fa-icon>
                    </a>
                </div>
            </div>
            <h1><u>Rezeptname: {{recipe.name}}</u></h1>
            <div>
                <h2>Steckbrief</h2>
                <p>{{recipe.about}}</p>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <h3 style="padding-top: 5px; margin: 0;">Kategorie: {{recipe.category}}</h3>
            <img [src]="recipe.image.filePath" alt="recipe.image.fileName" class="img-responsive">
        </div>
    </header>
    <hr>
    <article class="row">
        <button mat-button appDontPrint *ngIf="isAuthenticated" class="recipe-detail-button orange"
            (click)='shoppingListEdit()'>Zur
            Einkaufsliste hinzufügen</button>
        <h2 style="padding-left: 15px;">Zutaten:</h2>
        <form id="ing-container" [formGroup]="ingredientsForm" >
            <ul class=" test2" id="ing-list" formArrayName="ingredientsFormArray">
                <li class="list-group-item col-xs-12 col-sm-6 col-md-4 col-lg-3" id="ing-item"
                    *ngFor='let ingredient of recipe.ingredients; let i = index' [formGroupName]="i">
                    <input appDontPrint type="checkbox"
                        [ngStyle]="{'display': addToShoppingListEdit ? 'inline' : 'none'}" value="{{ingredient.name}}"
                        formControlName="checked"> {{ingredient.name}} x
                    {{ingredient.amount}} {{ingredient.unit}}
                </li>
            </ul>
            
        </form>
        <div class="row">
            <div appDontPrint class="sl-button-group col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="addToShoppingListEdit">
                <button mat-raised-button class="orange" (click)="onAddToShoppingList()">Hinzufügen</button>
                <button mat-raised-button class="red" (click)=onCancel()>Abbrechen</button>
            </div>
        </div>
    </article>
    <hr>
    <article class="row">
        <div class="col-xs-12 col-lg-8 col-sm-8 col-md-8">
            <h2><u>Zubereitung:</u></h2>
            <p> {{recipe.description}}</p>
        </div>
        <div class="col-xs-12 col-lg-4 col-sm-4 col-md-4" style="border-left: 2px solid;">
            <div>
                <h2><u>Varianten:</u></h2>
                <div *ngFor="let variant of recipe.variants;">
                    <ngContent *ngIf="variant.description">
                        <h3><b>{{variant.name}}:</b></h3>
                        <p>{{variant.description}}</p>
                    </ngContent>
                </div>
            </div>
            <aside>
                <h2>Kommentare</h2>
                <p>{{recipe.comment}}</p>
            </aside>
        </div>
    </article>
</main>